 #Auto detect text files and perform LF normalization
* text=auto
 
# Example folder using LFS
Content/Content/** filter=lfs diff=lfs merge=lfs -text
Content/AutomotiveMaterials/** filter=lfs diff=lfs merge=lfs -text